section.clients {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section.clients ul {
    list-style-type: none;
}

section.clients table {
    border-collapse: collapse;
    width: 100%;
}

section.clients table tr {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

section.clients table tr th {
    padding: 10px;
    background-color: rgba(0, 0, 0, .15);
    border-bottom: 1px solid lightgray;
    font-weight: 100;
    font-size: 11px;
    color: rgba(0, 0, 0, .5);
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .5);
    text-align: left;
}

section.clients table tr th.avatar {
    width: 64px;
}

section.clients table tr th.client {
    width: 200px;
}

section.clients table tr th.label {
    width: 120px;
}

section.clients table tr th.date {
    width: 120px;
}

section.clients table tr td {
    padding: 10px;
    font-size: 13px;
}

section.clients table tr td div.name {
    text-transform: capitalize;
    font-weight: 600;
}

.capitalise {
    text-transform: capitalize;
}

section.clients table tr td var {
    font-style: normal;
    color: purple;
    font-family: "Courier New", serif;
}

section.clients table tr td img {
    width: 64px;
    height: 64px;
    float: left;
    border-radius: 64px;
}

section.clients table tr td label {
    padding: 5px 15px;
    border-radius: 4px;
    text-transform: capitalize;
}

section.clients table tr td label.failure {
    color: #664450;
    background: -webkit-linear-gradient(top, #efc8d6 0%, #e2b0c2 100%);
}

section.clients table tr td label.success {
    color: #475a3e;
    background: -webkit-linear-gradient(top, #bfdfaf 0%, #a8cc96 100%);
}