section.clients {
    padding: 20px;
    margin: auto;
    display: table;
    height: 100%;
    width: 100%;
}

section.clients div.container {
    display: table-row;
    border-collapse: collapse;
}

section.clients div.container div.inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

section.clients div.container div.inner div.squares {
    border: 1px solid rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background-color: white;
    padding: 1px 0 0 1px;
    overflow: hidden;
    margin: auto;
    width: 103px;
    height: 103px;
}

section.clients div.container div.inner div.squares div.client {
    float: left;
    width: 20px;
    height: 20px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    background-color: rgba(0, 0, 0, .1);
}