table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table tr th {
    background-color: rgb(170, 167, 157);
    color: white;
    font-weight: 300;
    font-size: 14px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .15);
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    border-right: 1px solid rgba(0, 0, 0, .15);
}

table tr th:last-of-type {
    border-right: 0;
}