@import "sections/header.css";
@import "sections/overview.css";
@import "sections/list.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

body, html {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}