@import "sections/header.css";
@import "sections/overview.css";
@import "sections/list.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Source Sans Pro", sans-serif;
}

body, html {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, .05);
}

/*body, html {*/
    /*height: 100%;*/
    /*width: 100%;*/
/*}*/